<div class="filters" *ngIf="!search">
    <mat-form-field >
      <mat-label>Sortieren</mat-label>
      <mat-select panelClass="sort-select" [(ngModel)]="sort" (selectionChange)="getGames('Sortieren')">
        <mat-option *ngFor="let data of orderPossibilities; let i = index" value="{{ data[1] }}">{{ data[0] }}</mat-option>
      </mat-select>
    </mat-form-field>
  
  
    <mat-button-toggle-group name="orderDirection" #toggleGroup="matButtonToggleGroup" [(ngModel)]="selectedOrder" (valueChange)="getGames('Order')">
      <mat-button-toggle value="default"> {{ defaultOrder }} </mat-button-toggle>
      <mat-button-toggle value="reverse"> {{ reverseOrder }} </mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="games">
  <ng-container *ngFor="let game of games">
    <div class="game" (click)="openGameDetails(game.id)">
      <div class="game-thumb-container">
        <img
        *ngIf="game.background_image"
          src="{{ game.background_image }}"
          alt="thumbnail"
          class="game-thumbnail"
        />
        <p *ngIf="!game.background_image"></p>
      </div>
      <div class="game-description">
        <p class="game-name">{{ game.name }}</p>
        <div class="game-platforms">
          <img *ngFor="let gamePlatform of game.parent_platforms"
            class="game-platform"
            [src]=sanitizer.bypassSecurityTrustResourceUrl(gamePlatformService.getIcon(gamePlatform.platform.slug))
            [alt]="gamePlatform.platform.name"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="loading$ | async">
  <div class="overlay"></div>
  <mat-spinner></mat-spinner>
</ng-container>